@import 
    "components/reset",
    "components/variables",
    "components/form-contact",
    "components/body",
    "components/footer",
    "components/header",
    "components/helpers",
    "components/responsive"
;

.header-info {
    color: $text-color;
    
    p { margin: 13px 0 }

    strong { color: $brand-less-darker }
}

.main-content {
    padding: 42px 0;

    .main-info {
        padding-top: 69px;
        padding-bottom: 95px;
    }

    .last-info {
        padding-top: 104px;
        padding-bottom: 136px;
    }

    .form-contact {
        background-color: $brand-dark;
        border-radius: 8px;
        padding: 30px 31px;

        .form-group {
            input { border-radius: 0 }
        }

        .last-form {
            color: $brand-lighter;

            strong { color: $brand-warning }

            .btn {
                background-color: $brand-warning;
                border-radius: 0;
                color: $brand-lighter;
                outline: none;

                &:hover { background-color: darken($brand-warning, 10%) }
            }
        }

        h4 { 
            color: $brand-lighter; 
            margin-bottom: 11px;
        }
    }

    .main-message {
        color: $text-color;
        font-size: 18px;
        line-height: 1.3;

        .hr-colored { 
            width: 109px;
            
            hr { border-top: 3px solid $brand-warning }
        }
    }
}