#footer {
    .first-content, 
    .last-content { background-color: $brand-dark }

    .first-content { 
        padding-top: 31px;
        padding-bottom: 52px;
        
        .subtitle { 
            border-bottom: 1px solid $brand-less-darker;
            margin-bottom: 18px;
            padding-bottom: 7px; 
        }

        h4, a { color: $brand-medium }

        ul {
            li { margin: 13px 0 }
        }

        .about p {
            line-height: 1.2;

        }

        .part-section {
            border-bottom: 1px solid $brand-less-darker;
            padding: 10px 0;
            
            &:nth-child(1) { padding-top: none }

            &:last-child { border-bottom: none }

            h6 { margin-top: 10px }
        }
    }

    .last-content { 
        border-top: 1px solid $brand-less-darker;
        padding-top: 29px;
        padding-bottom: 91px;
    }
}