.form-group {
    margin-bottom: 20px;
    
    .control-label {
        opacity: .4;
        pointer-events: none;
        color: $brand-less-darker;
        position: absolute;
        padding: 15px;
        transition: 240ms;
        z-index: 100;
    }

    .form-control {
        font-size: 16px;
        height: 42px;
        padding: 14px;
        padding-bottom: 0;
        border: 1px solid $brand-medium;
        border-radius: 0;
        background-color: $brand-lighter;
        color: $brand-dark;

        &.form-control-rounded { border-radius: 45px }
    }

    &.focused {
        .control-label {
            padding-top: 6px;
            margin-top: 0;
            font-size: 11px;
        }

        .form-control::-webkit-input-placeholder {
            color: transparent;
            transition: 240ms;
        }
    }
}