@media( min-width: 768px ) {
    .main-content {
        .form-contact {
            .last-form {
                .form-sections,
                .terms {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}